---
layout: default
permalink: /portfolio/wedding
lang: en_US
carousel: true
bind: true
selector: true
fittext: true
lightbox: true

---

<section class="section">
<div class="container">
  <div class="content bottom-three has-text-centered">
    <p class="kaushan is-size-4 is-italic has-text-left">
      Wedding
    </p>

<amp-carousel id="carousel"
  lightbox
  width="550"
  height="370"
  layout="intrinsic"
  type="slides"
  autoplay
  delay="3000"
  on="slideChange:
          carouselSelector.toggle(index=event.index, value=true),
          carouselPreview.goToSlide(index=event.index)
  "
  >
  {% assign image_files = site.static_files | where: "wedding", true %}
  {% assign counter = 0 %}
  {% for myimage in image_files %}
  {% assign parts = myimage.name | split: '-' %}
  <figure>
    <amp-image-lightbox id="lightbox{{ counter }}"
    layout="nodisplay"></amp-image-lightbox>
  <amp-img on="tap:lightbox{{ counter }}"
    role="button"
    tabindex="{{ counter }}"
    aria-describedby="{{ myimage.name }}"
    alt="Image 1 from Sponge Bob"
    title="Image 1 from Sponge Bob"
    src="{{ myimage.path | relative_url }}"
    layout="intrinsic"
    width="550"
    height="300"></amp-img>
  <div id="{{ myimage.name }}">
    <p class="is-size-5">
      {{ parts[0] }}
    </p>
    <p>
      {{ parts[1] | split: '_' | join: ' ' }}
    </p>
  </div>
  </figure>
  {% assign counter = counter | plus: 1 %}
  {% endfor %}
</amp-carousel>
<amp-selector id="carouselSelector"
  on="select:carousel.goToSlide(index=event.targetOption)"
  layout="container">
  <amp-carousel id="carouselPreview"
    class="carousel-preview"
    height="72"
    layout="fixed-height"
    type="carousel">
    {% assign image_files = site.static_files | where: "wedding", true %}
    {% assign counter = 0 %}
    {% for myimage in image_files %}
    <amp-img option="{{ counter }}"
      src="{{ myimage.path  | relative_url }}"
      width="60"
      height="40"
      alt="{{ myimage.name }}"></amp-img>
    {% assign counter = counter | plus: 1 %}
    {% endfor %}
  </amp-carousel>
</amp-selector>

  </div>
</div>
</section>
