{% include sidebar.html %}
<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ '/' | relative_url }}">
      <amp-img src="{{ site.baseurl | append:'/assets/img/logo.png'}}" 
               alt="{{ site.title }}"
               title="Logo {{ site.title }}"
               width="30" height="30"></amp-img>
    </a>

    <a class="navbar-burger burger" on='tap:sidebar.toggle' 
       data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      {% for language in site.data.lang %}
      <a class="navbar-item is-hoverable" href="#">
        {{ language[1].icon }} {{ language[0] }} 
      </a>
      {% endfor %}
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/bio">
        Bio
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="/portfolio">
          Portfolio
        </a>
        <div class="navbar-dropdown is-boxed is-right">
          <a class="navbar-item is-active" href="/portfolio/food">
            Food
          </a>
          <a class="navbar-item is-active" href="/portfolio/wedding">
            Wedding
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="#">
            Books & Portrait
          </a>
          <a class="navbar-item" href="#">
            Photo journalism
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="#">
            Travels
          </a>
          <a class="navbar-item" href="#">
            Others
          </a>
        </div>
      </div>
      <a class="navbar-item" href="/contact-me">
        Contact
      </a>
    </div>

  </div>
</nav>
